[user]
  name = Alexandru Ţurcanu
  email = pondorasti@gmail.com

[pull]
  rebase = true

[push]
  default = current
  autoSetupRemote = true

[rebase]
  updateRefs = true

[alias]
  autorebase = "!f() { git fetch origin $1 && git rebase origin/$1; }; f"
  bclean = "!f() { git branch --no-color | fzf -m | xargs -I {} git branch -D '{}'; }; f"
